/* Navigation */
.navigation {
    padding: 20px 0;
    background-color: #f1f1f1;
    text-align: center;
    text-decoration:underline;
}

.navigation a {
    color: #8b4513;
    text-decoration: Times New Roman;
    font-size: 1em;
    font-weight: bold;
     padding: 20px 0;
}

/* Gallery Section */
.gallery {
    padding: 60px 0;
    text-align: center;
}

.gallery h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
/* Navigation */
.navigation {
    padding: 20px 0;
    text-align: center;
    text-color: black;
   
}

.gallery-items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    width: 200px;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 200px;
}

.gallery-item p {
    font-size: 1em;
    color: #333;
}

body {
    background-image: url("background.jpg")

}
/* Header */
.header {
    background-color:rgb(185,123,61);
    color: white;
    padding: 40px 0;
    text-align: center;
}
.header h1 {
    font-size: 3.5em;
}
.header p {
    font-size: 1.2em;
}

.header p {
    font-size: 1.2em;
}
/* Footer */
.footer {
    background-color:rgb(185,123,61);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
}

.footer p {
    margin: 0;
}
